.App {
  text-align: center;
}
.signup-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 300px;
  padding: 20px;
  margin: auto;
  
}


.site-form-item-icon {
  /* color: rgba(0, 0, 0, 0.25); */
   margin-bottom: 15px;
   flex-direction: column;
}

.site-form-item-error {
  margin-bottom: 15px;
  flex-direction: column;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.login-form {
  max-width: 300px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  

}
/* #components-form-demo-normal-login .login-form {
  max-width: 300px;
} */
 .login-form-forgot {
  float: right;
}
 .ant-col-rtl .login-form-forgot {
  float: left;
}
 .login-form-button {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
